/*
Description: Custom CSS for the Recent Posts Widget Extended.
Version: 0.2
Revision: 0.7.1
Author: Satrya
License: GPLv2
*/

.rpwe-block ul {
	list-style: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.rpwe-block li {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.rpwe-block a {
	display: inline !important;
	text-decoration: none;
}

.rpwe-block h3 {
	background: none !important;
	clear: none;
	margin-bottom: 0 !important;
	font-weight: normal;
	font-size: 12px !important;
	line-height: 1.5em;
}

.rpwe-thumb {
	border: 1px solid #EEE !important;
	box-shadow: none !important;
	margin: 2px 10px 0 0;
	padding: 3px !important;
}

.rpwe-summary {
	font-size: 12px;
}

.rpwe-time {
	color: #bbb;
	font-size: 11px;
}

.rpwe-alignleft {
	display: inline;
	float: left;
}

.rpwe-alignright {
	display: inline;
	float: right;
}

.rpwe-alignnone {
	display: block;
	float: none;
}

.rpwe-clearfix:before,
.rpwe-clearfix:after { 
	content: ""; 
	display: table; 
}

.rpwe-clearfix:after { 
	clear: both; 
}

.rpwe-clearfix { 
	*zoom: 1;
}