/*
Description: Custom CSS for the Recent Posts Widget Extended.
Version: 0.1
Revision: 0.4
Author: Satrya
License: GPLv2
*/

.rpwe-block ul {
	list-style: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.rpwe-block li {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.rpwe-block a {
	text-decoration: none;
}

.rpwe-block h3 {
	clear: none;
	margin-bottom: 0 !important;
	font-weight: normal;
	font-size: 12px;
	font-family: Arial, sans-serif;
	line-height: 1.5em;
}

.rpwe-alignleft {
	border: none !important;
	display: inline;
	float: left;
	margin: 5px 10px 0 0;
	padding: 0 !important;
}

.rpwe-summary {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.rpwe-time {
	color: #bbb;
	font-size: 11px;
	font-family: Arial, sans-serif;
}

.rpwe-clearfix:before,
.rpwe-clearfix:after { 
	content: ""; 
	display: table; 
}

.rpwe-clearfix:after { 
	clear: both; 
}

.rpwe-clearfix { 
	*zoom: 1;
}