.rpwe-tabs-nav {
	position: relative;
	display: inline;
	float: left;
	width: 147px;
}

.rpwe-tabs-nav li {
	margin-bottom: 0;
}

.rpwe-tabs-nav li.ui-state-active {
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	border-right-color: #fafafa;
}

.rpwe-tabs-nav li.ui-state-active a {
	color: #222;
}

.rpwe-tabs-nav li.ui-state-focus a {
	outline: 0;
}

.rpwe-tabs-nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	font-weight: 600;
}

.rpwe-tabs-content {
	display: inline;
	float: right;
	width: 63%;
	border: 1px solid #e5e5e5;
	padding: 0 18px 18px 18px;
	margin: 13px 0 30px -1px;
	min-height: 350px;
	background: #fafafa;
}

.rpwe-content.tabs-panel p {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 1em;
}

.rpwe-content.tabs-panel p:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.rpwe-content.tabs-panel label {
	font-weight: 600;
}

.rpwe-content.tabs-panel .desc {
	color: #888;
	display: block;
	padding-top: 3px;
}

.rpwe-block {
	display: block;
}

/**
 * Special class
 */
.input-sm {
	display: block;
	width: 20%;
}

.select-sm {
	display: block;
	width: 45%;
}

/**
 * Clearfix
 */
.cl:before,
.cl:after {
	content: "";
	display: table;
}

.cl:after {
	clear: both;
}

.cl {
	*zoom: 1;
}