.widgets-php .rpwe-columns-3 {
	overflow: hidden;
	float: left;
	width: 31%;
	margin-right: 3.5%;
}

.widgets-php .rpwe-columns-3 select.widefat {
	width: 98.5%;
}

.widgets-php .rpwe-column-last {
	float: right;
	margin-right: 0;
}

.widgets-php .rpwe-columns-3 label {
	font-size: 11px;
}

.widgets-php .rpwe-columns-3 p small {
	color: #777;
	font-style: italic;
}

.small-input {
	width: 30%;
}

.rpwe-block {
	display: block;
}

.rpwe-multiple-check-form {
	margin: 1em 0;
}

.rpwe-multiple-check-form ul {
	border: 1px solid #eee;
	padding: 10px;
	max-height: 110px;
	overflow: auto;
	margin-top: 0;
}

.rpwe-multiple-check-form ul li:last-child {
	margin-bottom: 0;
}